.login-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1920px;
  height: 1285.36px;
  background-image: url("../../icons/backgroundRegisterLogin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100px; /* x축은 가운데, y축은 100px만큼 움직임 */
  min-height: 100vh;
}

.login-inner-container {
  display: flex;
  flex-direction: column;
  padding: 65px;
  align-items: center;
  gap: 10px;
  width: 40%; /* 원하는 너비 비율로 조정하세요. */
  background-color: white;
  border-radius: 10px;
  margin-top: 100px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 80%; /* 너비를 100%로 설정하여 가능한 모든 공간을 차지 */
}

.button-container > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.input1 {
  width: 484px;
  height: 40px;
  padding-left: 10px;
  border-radius: 12px;
  border: 1px solid lightgray;
  background-color: white;
}

.submit-button {
  height: 40px;
  width: 30vw;
  font-size: 16px;
  border-radius: 40px;
  border: 1px solid lightgray;
  margin-top: 10px;
  text-align: center;
  color: white;
}

.button-icon {
  width: 50px;
  height: 50px;
  border-radius: 36px;
  border: none;
  margin: 50px;
}
.naver {
  background-image: url("../../icons/naver.png");
  background-size: contain;
}

.kakao {
  background-image: url("../../icons/kakao.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.google {
  background-image: url("../../icons/google.png");
  background-size: contain;
}

.register-button {
  border: none;
  background-color: white;
}
.divider {
  height: 1px;
  width: 80%;
  background-color: lightgray;
  margin: 30px;
  position: relative;
}

.divider > span {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.login-input-container {
  position: relative;
  margin: 20px 0;
}

.login-label {
  position: absolute;
  top: -20px;
  font-size: 14px;
  padding: 0 3px;
  color: #666666;
  font-family: "poppins";
}

@media (max-width: 768px) {
  .login-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../../icons/backgroundRegisterLogin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100px; /* x축은 가운데, y축은 100px만큼 움직임 */
    min-height: 100vh;
  }

  .login-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%; /* 원하는 너비 비율로 조정 */
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 80%; /* 너비를 100%로 설정하여 가능한 모든 공간을 차지 */
  }

  .button-container > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .button-icon {
    width: 50px;
    height: 50px;
    border-radius: 36px;
    border: none;
    margin: 50px;
  }
  .naver {
    background-image: url("../../icons/naver.png");
    background-size: contain;
  }

  .kakao {
    background-image: url("../../icons/kakao.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .google {
    background-image: url("../../icons/google.png");
    background-size: contain;
  }

  .submit-button {
    width: 75vw;
    height: 40px;
    font-size: 16px;
    border-radius: 40px;
    border: 1px solid lightgray;
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  .register-button {
    border: none;
    background-color: white;
  }
  .divider {
    height: 1px;
    width: 80%;
    background-color: lightgray;
    margin: 30px;
    position: relative;
  }

  .divider > span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-input-container {
    position: relative;
    margin: 20px 0;
  }

  .login-label {
    position: absolute;
    top: -20px;
    font-size: 14px;
    padding: 0 3px;
    color: #666666;
    font-family: "poppins";
  }

  .input1 {
    width: 70vw;
    height: 4.5vh;
    padding-left: 10px;
  }
}
