.bodyContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - 16vh);
  border: 1px solid black;
  border-radius: 20px;
  padding: 8vh 20px;
}

.messageRight,
.messageLeft {
  display: flex;
  position: relative;
}

.messageRight {
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.messageLeft {
  justify-content: flex-start;
  text-align: left;
}

.messageBox {
  max-width: 60%; /* adjust as needed */
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
  z-index: -1;
  margin-top: 1vw;
}

.messageRight .messageBox {
  background-color: #e2d8fa; /* light green */
}

.messageLeft .messageBox {
  background-color: #f0d9dc; /* white */
  /* text-align: left; */
}

.messageSender {
  font-weight: bold;
}

.timeRight,
.timeLeft {
  position: absolute;
  bottom: -8px;
  color: gray;
  font-size: 11px;
  z-index: -1;
}

.timeRight {
  /* left: 5px; */
}

.timeLeft {
  /* right: 5px; */
}
