.chatButton {
  bottom: 100px;
  right: 50px;
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url("../../../icons/chat.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transition: background-color 0.3s;
}

.chatButton > span {
  font-size: 15px;
}
