.QnA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.QnA .profile {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.QnA .content {
  text-align: center;
  width: 100%;
}

.divider {
  height: 0.1vh;
  width: 50vw;
  background-color: lightgray;
}

.container12 {
  display: flex;
  align-items: stretch;
  width: 65vw;
  height: 80vh;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 4vh;
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
}

.dropdown-menu {
  position: fixed;
  top: 50px; /* 헤더의 바로 아래에 위치하도록 설정 */
  right: 20px; /* 오른쪽에서 50px 떨어져 위치하도록 설정 */
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  background-color: #564e97;
  z-index: 100; /* 다른 요소들 위에 나타나도록 z-index를 높게 설정 */
  transition: top 1s ease-in-out; /* 애니메이션 효과 추가 */
}

.dropdown-menu.show1 {
  top: 70px;
}

.a1 {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  /* position: fixed; */
}

.a2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vw;
  height: 80vh;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 0 2vw 2vw 2vw;
  margin-top: 10vh;
}

.a4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.a5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 0px;
  padding: 0 1.5vw;
}

.a7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pointSpan {
  margin-bottom: 0px;
  background-color: #564e97;
  width: 3vw;
  height: 2.3vh;
  color: white;
  text-align: center;
  align-items: center;
  margin-left: 1vw;
}

.button {
  margin-right: 0.5vw;
  background-color: none;
  border: none;
  border-radius: 5px;
  width: 2vw;
  height: 3vh;
}

.QnAEditContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}

.QnAEditContainer2 {
  width: 60vw;
  height: 80vh;
  border: 1px solid lightgray;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  display: flex;
  margin-top: 11vh;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 2vw 1vw 2vw;
}

.QnAEditContainer2 > span {
  font-size: 22px;
  color: gray;
  font-weight: bold;
}

.QnAFormContainer > span > span {
  color: gray;
  font-size: 22px;
  text-decoration: underline;
}

.check_img {
  width: 30px;
  height: 30px;
}

.adoptButton {
  border-radius: 10px;
  background-color: #564e97;
  height: 50%;
  width: 15%;
  color: white;
  border: none;
}

.adoptedButton {
  border-radius: 10px;
  background-color: #8e8d9c;
  height: 3vh;
  width: 15%;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  border: 1px solid gray;
  width: 37vw;
  word-wrap: break-word;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 10px;
}

.commentInput {
  width: 20vw;
  height: 3vh;
  margin-right: 1vw;
  margin-top: 3%;
}

.CommentButton {
  background-color: #564e97;
  color: white;
  border: none;
  border-radius: 5px;
  height: 3.6vh;
}

.commentBox {
  display: flex;
  width: 36vw;
  gap: 0.8vw;
  margin-top: 2vh;
  justify-content: space-between;
  align-items: flex-start; /* 내용과 버튼 영역이 상단에 정렬되도록 합니다. */
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-line;
}

.comment-content {
  flex-grow: 1; /* 가능한 많은 공간을 차지하도록 합니다. */
  display: flex;
  flex-direction: column;
}

.comment-edit-delete-container {
  flex-shrink: 0; /* 이 영역의 크기를 고정시킵니다. */
}

.QnAPage-divider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2px;
  background-color: lightgray;
  margin: 12px;
}
