.profileBox {
  width: 30vw;
  height: 5vh;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBox > span {
  color: black;
}

.mypage_container1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  margin-top: 10vh;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow-y: scroll;
}

.mypage_container1::-webkit-scrollbar {
  display: none;
}

/* 추가 */

.mypage_container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  /* background-color: red; */
  left: 30%;
  padding-top: 3vh;
  width: 40%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-container > p {
  margin: 0px;
}

.share_edit_button {
  border: 1px solid lightgray;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
  width: 55px;
  height: 40px;
  background-color: white;
}

.share_edit_button-container > .share_edit_button:first-child {
  /* background-image: url("../../icons/share_android.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

.middle-container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-top: 5vh;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 10%;
  gap: 2vw;
}

.point-container {
  display: flex;
}

.profile-img-container {
  /* background-image: url("../../icons/Account_circle.png"); */
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.label1 {
  color: gray;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.label2 {
  margin: 0;
  font-size: 20px;
}

.charge-button {
  background-color: transparent;
  border-radius: 7px;
  position: relative;
  left: 40px;
  width: 5vw;
  height: 3vh;
  border: 1px solid gray;
}

.check-outer-box {
  text-align: left;
  margin-top: 5vh;
}

.check-inner-box {
  padding: 10px;
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 1px solid black;
}
.check-p1 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.check-p2 {
  color: gray;
  font-size: 15px;
  margin: 0;
}

.select-outer-box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 2vh;
}

.select-inner-box {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 4vw;
  padding-bottom: 2vh;
}

.select-inner-box > button {
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  font-size: 20px;
  border: none;
}

.mypage-divider {
  display: flex;
  justify-content: center;
  height: 2px;
  width: 100%;
  background-color: lightgray;
  position: relative;
}

.profile,
.answer,
.Community,
.Qna {
  width: 6vw;
  height: 3px;
  background-color: #7267c8;
  position: relative;
}

.profile {
  right: 39%;
}

.Qna {
  right: 17%;
}

.Community {
  left: 8%;
}

.answer {
  left: 36%;
}

.editInput {
  width: 120px;
  height: 30px;
  border-radius: 7px;
}

.logo1,
.logo2,
.logo3 {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 2px;
}
.logo1 {
  background-image: url("../../icons/logo1.png");
  background-repeat: no-repeat;
}
.logo2 {
  background-image: url("../../icons/logo2.png");
  background-repeat: no-repeat;
}
.logo3 {
  background-image: url("../../icons/logo3.png");
  background-repeat: no-repeat;
}
/* ------------------------- */
/* // label태그 */

.edit-profileImg-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

/* // input태그 */
.form-edit input[type="file"] {
  display: none;
}
