.container {
  position: absolute;
  left: 35%;
  top: 100px;
}

.profileBox {
  width: 30vw;
  height: 5vh;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBox > span {
  color: black;
}
