.chatButton {
  bottom: 100px;
  right: 50px;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: white;
  background-image: url("../../icons/chaticon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.chatButton > span {
  font-size: 15px;
}
