.aaa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw;
  margin-top: 2vh;
}

.postbutton1 {
  width: 10vw;
  height: 5vh;
  background-color: #7267c8;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  position: relative;
}

.container11 {
  display: flex;
  align-items: stretch;
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  margin-top: 11vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.container11::-webkit-scrollbar {
  display: none;
}

.search {
  padding-left: 30px;
  width: 30vw;
  height: 3.5vh;
  margin-top: 3vh;
  border-radius: 5px;
  border: 1px solid gray;
}

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw;
}

.post-list {
  border-top: 1px solid lightgray;
  padding: 2vh 3vh 0 3vh;
}

.viewCountImg {
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center center;
  margin-right: 2px;
}

.viewCountSpan {
  color: gray;
  font-size: 0.8em;
}

.NewTecList2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NewTec-post-list-middle {
  color: gray;
  font-size: 0.8em;
}

.NewTecList-createdAt {
  color: gray;
  font-size: 0.8em;
}

.post-list {
  border-top: 1px solid lightgray;
  padding: 2vh 3vh 0 3vh;
}
