.a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

.community-container {
  display: flex;
  align-items: stretch;
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 11vh;
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
}

.community-container::-webkit-scrollbar {
  display: none;
}

.board_list {
  width: 200px;
  height: 5vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  /* margin-top: 1vh; */
}

.mycontainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.divider1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2px;
  width: 100%;
  background-color: lightgray;
  margin: 0px;
  position: relative;
}

.freeboard {
  width: 170px;
  height: 3px;
  background-color: #7267c8;
  position: relative;
  left: 2%;
}
.shareboard {
  width: 170px;
  height: 3px;
  background-color: #7267c8;
  position: relative;
  left: 22.5%;
}

.preButton {
  background-image: url("../../icons/pre_arrow1.png");
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.nextButton {
  background-image: url("../../icons/next_arrow1.png");
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.pageNumber {
  color: black;
  font-size: 20px;
  background-color: transparent;
}

.community-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3vw;
}

.createdBy-box {
  position: relative;
}

.community-span {
  color: gray;
  font-size: "0.8vw";
  padding: 0px 1.5vw;
}

.community-content {
  font-size: 12px;
}

.createdBy-box,
.viewCount,
.createdAt {
  margin-right: 5vw;
}

.select-box {
  padding: 8px;
  font-size: 15px;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw;
  margin-top: 2vh;
}

.postbutton2 {
  width: 10vw;
  height: 5vh;
  background-color: #7267c8;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  position: relative;
}
.community-search {
  height: 30px;
}

/* 리스트 추가 */
.community-post-list {
  list-style: none;
}

.community-createdBy {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.community-createdAt {
  color: black;
  font-size: 15px;
}

.community-post-list-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.viewCountImg1 {
  /* margin-right: 1vw; */
  width: 1.5vw;
}

.community-title {
  color: black;
  font-size: 17px;
}

.divider2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1px;
  width: 57vw;
  background-color: lightgray;
  margin: 12px;
  position: relative;
}
.viewCountSpan {
  color: black;
}

.post-list1 {
  /* border-top: 1px solid lightgray; */
  border-bottom: 1px solid lightgray;
  padding: 2vh 3vh 2vh 3vh;
  margin: 0px;
}

@media (max-width: 768px) {
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
  }

  .community-container {
    display: flex;
    align-items: stretch;
    width: 90vw;
    height: 80vh;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 4vh;
    background-color: white;
    border-radius: 20px;
  }

  .board_list {
    width: 30vw;
    height: 5vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 4vw;
    margin-top: 1vh;
  }

  .mycontainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  /*   
  .board-container{
    width:88vw;
    height:40vh;
  } */

  .divider1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3px;
    width: 83vw;
    background-color: lightgray;
    margin: 12px;
    position: relative;
  }

  .freeboard {
    width: 26vw;
    height: 3px;
    background-color: #7267c8;
    position: relative;
    left: 1vw;
  }
  .shareboard {
    width: 26vw;
    height: 3px;
    background-color: #7267c8;
    position: relative;
    left: 29vw;
  }

  .preButton {
    background-image: url("../../icons/pre_arrow1.png");
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
    right: 5vw;
  }

  .nextButton {
    background-image: url("../../icons/next_arrow1.png");
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
    right: 5vw;
  }

  .pageNumber {
    color: black;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    right: 5vw;
  }

  .community-post-title {
    font-size: 4vw;
  }

  .community-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
  }

  .createdBy-box {
    position: relative;
  }

  .community-span {
    color: gray;
    font-size: 2vh;
    margin-left: 15px;
  }

  .community-content {
    font-size: 12px;
  }

  .community-createdAt {
    font-size: 4vw;
  }

  .createdBy-box,
  .viewCount,
  .createdAt {
    margin-right: 5vw;
  }

  .select-box {
    padding: 1px;
    font-size: 1.5vh;
    /* width:10vw; */
  }
  .post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
  }

  .postbutton1 {
    width: 15vw;
    height: 5vh;
    background-color: #7267c8;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 1.5vh;
  }

  .post-container > h1 {
    font-size: 5vh;
  }

  .community-checkbox-span {
    font-size: 1.5vh;
  }

  .community-search {
    width: 10vh;
    height: 2vh;
  }
  /* 리스트 추가 */
  .community-post-list {
    list-style: none;
  }

  .community-createdBy {
    color: black;
    font-size: 4vw;
  }

  .community-createdAt {
    color: black;
    margin: 3vw;
    font-size: 1.5vh;
  }

  .community-post-list-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .viewCountImg {
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }

  .community-title {
    color: black;
    font-size: 17px;
  }

  .divider2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1px;
    width: 83vw;
    background-color: lightgray;
    margin: 12px;
    position: relative;
  }
  .viewCountSpan {
    color: black;
    margin-right: 5vw;
    font-size: 15px;
  }
}
