.ChatListContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}

.ChatListContainer2 {
  display: flex;
  align-items: stretch;
  width: 30vw;
  height: 80vh;
  flex-direction: column;

  margin-top: 10vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  /* padding: 0 0 0 2vh; */
}

.ChatListContainer2::-webkit-scrollbar {
  display: none;
}

.ChatListContainer2 > div > h1 {
  margin-bottom: 0px;
}

.ChatListContainer2 > div > span {
  color: gray;
}

.ChatListContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChatListContainer4 {
  padding-left: 2vh;
}

.ChatListDivider {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  height: 0.1vh;
  width: 100%;
  background-color: lightgray;
}

.ChatList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  border-bottom: 1px solid lightgray;
  /* padding: 2vh; */
}

/* 왼쪽의 프로필 이미지와 이름을 포함하는 새로운 컨테이너 */
.ChatList .leftContent {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 1vw;
}

/* 이미지 크기 조절 */
.ChatList .leftContent > img {
  width: 4vh;
}

.ChatList .leftContent > span {
  color: black;
  font-size: 18px;
}

.CurrentMsg {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.ChatList > img {
  width: 4vh;
}

.ChatList > span {
  color: black;
  font-size: 22px;
}

.CurrentMsg > span {
  color: black;
  position: relative;
  margin-right: 1vw;
}

.divide {
  color: lightgray;
  height: 2vh;
  border: 1px solid;
}
