.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
}

.submit {
  height: 40px;
  font-size: 16px;
  text-align: center;
}
