.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid gray;
}

.header-right,.header-left {
  display: flex;
  gap: 10px; /* 로그인과 회원가입 사이에 간격을 추가 */
  margin-right: 30px;
}
.header-left button{
  background-color:white;
  border:none;
}
.header-left button:hover{
  background-color:lightblue;
}
.login {
  background-color: white;
  border: none;
  text-decoration: underline;
}

.register {
  background-color: white;
  border: 1px;
}

span {
  font-size: 18px;
}

.username {
  background-color: white;
  border: none;
  text-decoration: underline;
}
