.header {
  position: fixed;
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0d0d2b;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-left > h2 {
  color: white;
  font-family: inter;
}

.header-left > button {
  background-color: white;
  border: none;
}

.header-left h2 {
  margin-right: 40px;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-center > button {
  background-color: #0d0d2b;
  color: white;
  border: none;
  transition: color 0.3s, font-size 0.3s;
}

.header-center > button:hover {
  color: #564e97;
  font-size: 90px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login {
  background-color: #0d0d2b;
  color: white;
  border: none;
}

.register {
  background-color: #564e97;
  color: white;
  border-radius: 32px;
  border: none;
  width: 130px;
  height: 50px;
}

.span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.username {
  border: none;
  color: white;
  background-color: #0d0d2b;
  text-decoration: underline;
}

.hamburger-icon {
  color: white;
  background-color: #0d0d2b;
  border: none;
}

.user {
  background-color: #0d0d2b;
  background-size: cover;
  border: none;
  width: 50px;
  height: 50px;
}

/* 모바일 화면에서 헤더의 컨텐츠를 숨깁니다. */
@media (max-width: 768px) {
  .header-left > button,
  .header-left h2:not(:first-child) {
    display: none;
  }

  .header-right > * {
    display: none;
  }

  .header-right > .hamburger-icon {
    display: inline-block;
  }
  .header-center {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-center > button > span {
    font-size: 14px;
  }
  .login {
    background-color: #564e97;
    color: white;
    border: none;
  }
}

/* 데스크탑 화면에서 햄버거 메뉴를 숨깁니다. */
@media (min-width: 769px) {
  .hamburger-icon {
    display: none;
  }
  .dropdown-menu.show {
    display: none;
  }
}

.dropdown-menu {
  position: fixed;
  top: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  background-color: #564e97;
  z-index: 100;
  transition: top 1s ease-in-out;
}

.dropdown-menu.show {
  top: 70px;
}
